<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet" />
    <title>About</title>
        <link rel="icon" href="/icon.png"/>

  </head>
  <body>
    <div class="main-content">
      
       {{>header}}
    <img src="/tenor.gif" class ="portrait"/>
    </div>
   
    
    {{>footer}}
  </body>
</html>